body {
	background-color: #FFFFFF;
/*	background: url(../img/body-bg.jpg) repeat-x;*/
	
}

.top-banner{
	position: absolute;
	background:#000000 url(../img/logo.jpg) no-repeat;
	background-position: center;
	width: 100%;
	height: 86px;
}
.signup{
	margin-top: 150px;
}
/** signin form***/
.form-signin {
		max-width: 300px;
		padding: 19px 29px 29px;
		margin: 0 auto 20px;
		background-color: #fff;
		border: 1px solid #e5e5e5;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
	.form-signin .form-signin-heading,
	.form-signin .checkbox {
	margin-bottom: 10px;
	}
	.form-signin input[type="text"],
	.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
	}
/** ###########Dashboard #######*/
.dashboard{
	margin-top: 80px;
}
 .footer {
        height: 60px;
        background-color: #f5f5f5;
      	bottom: 0;
      	position: absolute;
      	float:right;
      	text-align: center;
    }
/****############quotes######### **/
.wrapper{
 margin:0 0 0 30px;
}
#mypagi{
	/*float:center;*/
	margin-left: 300px;
}
.register{
	margin-left:200px;

}
.add_venue{
	float:right;

}